body {
   background-color: #eee;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main {
   border: 1px solid #999;
   width: 600px;
   margin: auto;
   padding: 20px;
   border-radius: 10px;
}

header {

}

nav {

}

section {

}

aside {

}

footer {

}
